body {
    text-align: center;
    padding-top:50px;
}

#TBL {
    padding: 2px;
    border: 2px;
    border-style: double;
    border-radius: 20px;
    border-color: yellow;
}

.parallax-container {
    background: linear-gradient(#BFFF00 0%, #FFA500 100%);
}

p {
    max-width: 550px;
    font-size: 16px;
    font-family: 'Redressed', cursive;
    text-align: center;
    margin: 15px auto;
}

.line {
    height: 6px;
    width: 70px;
    background-color: black;
    margin: 25px auto;
}

.menu {
    list-style: none;
    z-index: 10px;
    top: 10px;
    right: 10px;
    left: 10px;
    position: absolute;
    cursor: pointer;
    font-family: monospace;
}

.links {   
    display: inline;
    padding-right: 25px;
    padding-left: 50px;
    font-size: 20px;
    font-family: cursive;
    color: cornflowerblue;
}
.article:hover
{
color: orange;      
}
.links:hover{
background-color: skyblue;
}
html{
    scroll-behavior: smooth;
}
#Contact iframe{
    width: 100%;
    
}
#Writings a{
    color: darkseagreen !important;
}